openapi: 3.0.3
info:
  title: Pay3 External API
  version: "1.0.0"
  description: A system that allows external corporations (Partners) to use Pay3’s card issuance, KYC, and payment infrastructure while maintaining their own UI.

servers:
  - url: https://api.pay-3.io/functions/v1/external-service

paths:
  /oauth/access-token:
    post:
      summary: Generate OAuth access token
      description: |
        Generates an OAuth access token for accessing the external service.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                clientId:
                  type: string
                  example: "1234567890"
                clientSecret:
                  type: string
                  example: "1234567890"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: OAuth access token generated successfully
                  accessToken:
                    type: string
                    example: "eyJjbGllbn********tIiwiY2xpZW50X2FwaV9rZXkiOiJkNm9zS0tRWUczZVdUbkE4Q0djVWprWDlpaUN4bnlldUdibXBOVHR3MF9jIiwidGltZXN0YW1wIjoxNzYyNDQ3NzAwMjE3LCJ1dWlkIjoiODY3ZWY5YjctYjM1NC00OWUwLTgyNTktYzIyYjUxMTkwZDZjIn0=./V9EI/wBvkf3qZ2G*****dWQxBBKVsE4+E="
                  success:
                    type: boolean
                    example: true
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /users/register:
    post:
      summary: Register a new user
      description: |
        Registers a new user with basic information such as first name, last name, and signup type.
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - first_name
                - signup_type_id
                - signup_type
              properties:
                first_name:
                  type: string
                  example: Pratham1
                last_name:
                  type: string
                  example: ""
                signup_type_id:
                  type: string
                  example: "835519111"
                signup_type:
                  type: string
                  example: TELEGRAM
      responses:
        "200":
          description: User registered successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: User registered successfully
                  code:
                    type: integer
                    example: 0
                  data:
                    type: object
                    properties:
                      first_name:
                        type: string
                        example: Pratham1
                      last_name:
                        type: string
                        example: ""
                      card_issued:
                        type: boolean
                        example: false
                      userId:
                        type: string
                        example: a8b70aa0-5b6f-481d-b9d2-2617b9e4f5b7
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /users:
    get:
      summary: Get user by ID
      description: |
        Retrieves user information if the ID is provided.
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
          description: The user ID (UUID)
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: User fetched successfully
                  code:
                    type: integer
                    example: 0
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: a8b70aa0-5b6f-481d-b9d2-2617b9e4f5b7
                      first_name:
                        type: string
                        example: Pratham1
                      last_name:
                        type: string
                        example: ""
                      email:
                        type: string
                        nullable: true
                        example: null
                      phone_number:
                        type: string
                        nullable: true
                        example: null
                      telegram_id:
                        type: string
                        example: "835519111"
                      client_id:
                        type: string
                        example: 1df64a72-72be-4522-a0ed-62a7a608e6d3
                      created_at:
                        type: string
                        format: date-time
                        example: "2025-11-06T11:24:28.575703+00:00"
                      updated_at:
                        type: string
                        nullable: true
                        example: null
                      signup_type_id:
                        type: string
                        example: "835519111"
                      signup_type:
                        type: string
                        example: TELEGRAM
                      card_issued:
                        type: boolean
                        example: false
                      wallet_id:
                        type: string
                        nullable: true
                        example: null
                      account_id:
                        type: string
                        nullable: true
                        example: null
                      budget_id:
                        type: string
                        nullable: true
                        example: null
                      sumsub_id:
                        type: string
                        nullable: true
                        example: null
                      kyc_verified:
                        type: boolean
                        nullable: true
                        example: null
                      cardholder_id:
                        type: string
                        nullable: true
                        example: null
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /kyc/access-token:
    post:
      summary: Generate KYC access token
      description: |
        Generates a temporary access token for the user's KYC verification process.
      tags:
        - KYC Service
      security:
        - bearerAuth: []
      parameters:
      - in: header
        name: X-Environment
        required: false
        schema:
          type: string
          enum: [sandbox, production]
        description: |
          Optional environment override.
          Defaults to production.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - userId
              properties:
                userId:
                  type: string
                  description: The UUID of the user requesting KYC access.
                  example: a8b70aa0-5b6f-481d-b9d2-2617b9e4f5b7
      responses:
        "200":
          description: KYC Access token generated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: KYC Access token generated successfully
                  code:
                    type: integer
                    example: 0
                  data:
                    type: object
                    properties:
                      accessToken:
                        type: string
                        example: "_act-jwt-eyJhbGciOiJub25lIn0.eyJqdGkiOi=========U5YzAtNDhlYy1iOTM4LWRjZjUyYTk2ZjVjNC12MiIsI=====h0dHBzOi8vYXBpLnN1bXN1Yi5jb20ifQ.-v2"
                      userId:
                        type: string
                        example: a8b70aa0-5b6f-481d-b9d2-2617b9e4f5b7
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /kyc/submit:
    post:
      summary: Submit KYC for verification
      description: Submits KYC data for the specified user and applicant ID.
      tags:
        - KYC Service
      security:
        - bearerAuth: []
      parameters:
      - $ref: "#/components/parameters/IdempotencyKey"
      - in: header
        name: X-Environment
        required: false
        schema:
          type: string
          enum: [sandbox, production]
        description: |
          Optional environment override.
          Defaults to production.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - userId
                - applicantId
              properties:
                userId:
                  type: string
                  example: ac0d2c0d-610e-45c3-9752-520bd0108e45
                applicantId:
                  type: string
                  example: testapplicationId
      responses:
        "200":
          description: KYC submitted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: KYC submitted successfully
                  code:
                    type: integer
                    example: 0
                  data:
                    type: object
                    properties:
                      applicantId:
                        type: string
                        example: test
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /card/application/start:
    post:
      summary: Start card application
      description: |
        Starts the card application process for a given user and applicant.
        - Sandbox: Test cards, mock balances
        - Production: Real cards & transactions
      tags:
        - Card Service
      security:
        - bearerAuth: []
      parameters:
      - in: header
        name: X-Environment
        required: false
        schema:
          type: string
          enum: [sandbox, production]
        description: |
          Optional environment override.
          Defaults to production.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - userId
              properties:
                userId:
                  type: string
                  example: ac0d2c0d-610e-45c3-9752-520bd0108e45
      responses:
        "200":
          description: Card application started successfully or already exists
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Card application started successfully
                  code:
                    type: integer
                    example: 0
                  data:
                    type: object
                    properties:
                      application:
                        type: object
                        properties:
                          id:
                            type: string
                            example: 94655d78-71a8-43a5-9654-7c5996ee51c3
                          created_at:
                            type: string
                            format: date-time
                            example: "2025-11-08T12:55:54.644752+00:00"
                          user_id:
                            type: string
                            example: ac0d2c0d-610e-45c3-9752-520bd0108e45
                          whitelisted:
                            type: boolean
                            example: false
                          code_redeemed:
                            type: string
                            nullable: true
                            example: null
                          phone_verified:
                            type: boolean
                            example: false
                          email_verified:
                            type: boolean
                            example: false
                          kyc_verified:
                            type: boolean
                            example: false
                          personal_data:
                            type: object
                            nullable: true
                            example: null
                          billing_data:
                            type: object
                            nullable: true
                            example: null
                          order_data:
                            type: object
                            nullable: true
                            example: null
                          card_issued:
                            type: boolean
                            example: false
                          card_issued_on:
                            type: string
                            nullable: true
                            example: null
                          card_id:
                            type: string
                            nullable: true
                            example: null
                          budget_id:
                            type: string
                            nullable: true
                            example: null
                          kyc_status:
                            type: string
                            nullable: true
                            example: null
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /card/application:
    post:
      summary: Fetch card application
      description: |
        Retrieves the card application details for a given user.
        - Sandbox: Test cards, mock balances
        - Production: Real cards & transactions
      tags:
        - Card Service
      security:
        - bearerAuth: []
      parameters:
      - in: header
        name: X-Environment
        required: false
        schema:
          type: string
          enum: [sandbox, production]
        description: |
          Optional environment override.
          Defaults to production.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - userId
              properties:
                userId:
                  type: string
                  example: ac0d2c0d-610e-45c3-9752-520bd0108e45
      responses:
        "200":
          description: Card application fetched successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Card application fetched
                  code:
                    type: integer
                    example: 0
                  data:
                    type: object
                    properties:
                      application:
                        type: object
                        properties:
                          id:
                            type: string
                            example: 94655d78-71a8-43a5-9654-7c5996ee51c3
                          created_at:
                            type: string
                            format: date-time
                            example: "2025-11-08T12:55:54.644752+00:00"
                          user_id:
                            type: string
                            example: ac0d2c0d-610e-45c3-9752-520bd0108e45
                          whitelisted:
                            type: boolean
                            example: false
                          code_redeemed:
                            type: string
                            nullable: true
                            example: null
                          phone_verified:
                            type: boolean
                            example: false
                          email_verified:
                            type: boolean
                            example: false
                          kyc_verified:
                            type: boolean
                            example: false
                          personal_data:
                            type: object
                            nullable: true
                            example: null
                          billing_data:
                            type: object
                            nullable: true
                            example: null
                          order_data:
                            type: object
                            nullable: true
                            example: null
                          card_issued:
                            type: boolean
                            example: false
                          card_issued_on:
                            type: string
                            nullable: true
                            example: null
                          card_id:
                            type: string
                            nullable: true
                            example: null
                          budget_id:
                            type: string
                            nullable: true
                            example: null
                          kyc_status:
                            type: string
                            nullable: true
                            example: null
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /card/issue_card:
    post:
      summary: Issue new card
      description: |
        Issues a new virtual card for a given user.
        - Sandbox: Test cards, mock balances
        - Production: Real cards & transactions

        On success, a `card.issued` webhook is delivered to the client's registered
        `webhook_url`. Pass an `Idempotency-Key` to safely retry without double-issuing.
      tags:
        - Card Service
      parameters:
      - $ref: "#/components/parameters/IdempotencyKey"
      - in: header
        name: X-Environment
        required: false
        schema:
          type: string
          enum: [sandbox, production]
        description: |
          Optional environment override.
          Defaults to production.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                userId:
                  type: string
                  format: uuid
                  example: "04610acd-01da-4d4d-982f-d12de7dac529"
                type:
                  type: string
                  description: Type of card to issue
                  enum:
                    - virtual
                    - physical
                  example: virtual
      responses:
        "200":
          description: Card issued successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Card issued successfully"
                  code:
                    type: integer
                    example: 0
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      accountId:
                        type: string
                        format: uuid
                      token:
                        type: string
                      status:
                        type: string
                      currency:
                        type: string
                      userName:
                        type: string
                      createTime:
                        type: string
                        format: date-time
                      cardNoLastFour:
                        type: string
                      cardAddress:
                        type: object
                        properties:
                          addressLine1: { type: string }
                          city: { type: string }
                          country: { type: string }
                          postalCode: { type: string }
                          state: { type: string }
                      label: { type: string }
                      useType: { type: string }
                      balanceId: { type: string }
                      budgetId: { type: string }
                      bin: { type: string }

        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /card/fetch_cards:
    post:
      summary: Fetch all cards for a user
      description: |
        Returns a list of virtual cards associated with the given user.
        - Sandbox: Test cards, mock balances
        - Production: Real cards & transactions
      tags:
        - Card Service
      parameters:
      - in: header
        name: X-Environment
        required: false
        schema:
          type: string
          enum: [sandbox, production]
        description: |
          Optional environment override.
          Defaults to production.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - userId
              properties:
                userId:
                  type: string
                  format: uuid
                  example: "04610acd-01da-4d4d-982f-d12de7dac529"
      responses:
        "200":
          description: Cards fetched successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Cards info fetched successfully"
                  code:
                    type: integer
                    example: 0
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                          example: "cee34fdd-51cc-49bd-b71a-d6bc0653bb34"
                        accountId:
                          type: string
                          format: uuid
                          example: "bf9866ad-46e1-43ff-8b21-68a57c67acfc"
                        token:
                          type: string
                          example: "cproxy2931455915873"
                        status:
                          type: string
                          example: "Active"
                        currency:
                          type: string
                          example: "USD"
                        userName:
                          type: string
                          example: "Mitsuaki Ishida"
                        createTime:
                          type: string
                          format: date-time
                          example: "2025-07-17T04:44:16.964Z"
                        cardNoLastFour:
                          type: string
                          example: "2362"
                        cardAddress:
                          type: object
                          properties:
                            addressLine1: { type: string, example: "Room 1205, 6-10-9 Minami Aoyama" }
                            addressLine2: { type: string, example: "Room 1205" }
                            city: { type: string, example: "Minato City" }
                            country: { type: string, example: "JP" }
                            postalCode: { type: string, example: "1070062" }
                            state: { type: string, example: "Tokyo" }
                        label:
                          type: string
                          example: "Mitsuaki Ishida's credit card"
                        useType:
                          type: string
                          example: "online"
                        balanceId:
                          type: string
                          example: "f1f70e3a-ce61-4df2-92cc-83ce9666df7d"
                        budgetId:
                          type: string
                          example: "950661d3-94c6-42d1-bd70-ba4986a1581d"
                        bin:
                          type: string
                          example: "537100"

        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /card/fetch_card_details:
    post:
      summary: Fetch full card details
      description: |
        Returns sensitive card details (CVV, full card number, expiry) for a given user and card ID.
        - Sandbox: Test cards, mock balances
        - Production: Real cards & transactions
      tags:
        - Card Service
      parameters:
      - in: header
        name: X-Environment
        required: false
        schema:
          type: string
          enum: [sandbox, production]
        description: |
          Optional environment override.
          Defaults to production.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - userId
                - cardId
              properties:
                userId:
                  type: string
                  format: uuid
                  example: "04610acd-01da-4d4d-982f-d12de7dac529"
                cardId:
                  type: string
                  format: uuid
                  example: "cee34fdd-51cc-49bd-b71a-d6bc0653bb34"
      responses:
        "200":
          description: Card details fetched successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Card details fetched successfully"
                  code:
                    type: integer
                    example: 0
                  data:
                    type: object
                    properties:
                      cvv:
                        type: string
                        example: "380"
                      expYear:
                        type: string
                        example: "2028"
                      expMonth:
                        type: string
                        example: "07"
                      cardNo:
                        type: string
                        example: "5371007412212362"

        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  card/fetch_deposit_address:
    post:
      summary: Fetch crypto deposit address
      description: |
        Retrieves the deposit address for a given user, token, and network combination.
        - Sandbox: Test cards, mock balances
        - Production: Real cards & transactions
      tags:
        - Card Service
      parameters:
      - in: header
        name: X-Environment
        required: false
        schema:
          type: string
          enum: [sandbox, production]
        description: |
          Optional environment override.
          Defaults to production.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - userId
                - token
                - network
              properties:
                userId:
                  type: string
                  format: uuid
                  example: "04610acd-01da-4d4d-982f-d12de7dac529"
                token:
                  type: string
                  enum: [USDT, USDC]
                  example: "USDT"
                network:
                  type: string
                  enum: [TRX, TON, AVAX, ETH, SOL, BNB, OP, MATIC]
                  example: "TRX"
              description: >
                The network options vary depending on the token:
                  - For **USDT**: TRX, TON, AVAX, ETH, SOL, BNB
                  - For **USDC**: OP, MATIC
      responses:
        "200":
          description: Address fetched successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Address fetched successfully"
                  code:
                    type: integer
                    example: 0
                  data:
                    type: object
                    properties:
                      address:
                        type: string
                        example: "TUp8HBKRboDH3SZFFFs2qA6iNDCGnzz3bH"

        "400":
          description: Invalid parameters or unsupported token-network combination
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /card/set_card_pin:
    post:
      tags:
        - Card Service
      summary: Set ATM card PIN
      description: |
        Sets or updates the ATM PIN for a user's card and activates the card if it is not activated. (For physical cards only)
        - Sandbox: Test cards, mock balances
        - Production: Real cards & transactions
      operationId: setCardPin
      parameters:
      - in: header
        name: X-Environment
        required: false
        schema:
          type: string
          enum: [sandbox, production]
        description: |
          Optional environment override.
          Defaults to production.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - pin
                - cardId
                - userId
              properties:
                pin:
                  type: string
                  description: 6-digit ATM PIN
                  example: "123456"
                  minLength: 6
                  maxLength: 6
                cardId:
                  type: string
                  format: uuid
                  example: "cee34fdd-51cc-49bd-b71a-d6bc0653bb34"
                userId:
                  type: string
                  format: uuid
                  example: "04610acd-01da-4d4d-982f-d12de7dac529"
      responses:
        "200":
          description: Card PIN set successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Card pin set successfully"
                  code:
                    type: integer
                    example: 0

        "400":
          description: Invalid parameters or unsupported token-network combination
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

        "500":
          description: External API or internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                message: Failed to set card pin
                code: 500

  /card/lock_card:
    post:
      tags:
        - Card Service
      summary: Lock card
      description: |
        Locks a user's card to prevent further transactions.
        - Sandbox: Test cards, mock balances
        - Production: Real cards & transactions
      operationId: lockCard
      parameters:
      - in: header
        name: X-Environment
        required: false
        schema:
          type: string
          enum: [sandbox, production]
        description: |
          Optional environment override.
          Defaults to production.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - cardId
                - userId
              properties:
                cardId:
                  type: string
                  format: uuid
                  description: Unique identifier of the card
                  example: "cee34fdd-51cc-49bd-b71a-d6bc0653bb34"
                userId:
                  type: string
                  format: uuid
                  example: "04610acd-01da-4d4d-982f-d12de7dac529"

      responses:
        "200":
          description: Card locked successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Card locked successfully"
                  code:
                    type: integer
                    example: 0

        "400":
          description: Invalid parameters or unsupported token-network combination
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

        "500":
          description: External API or internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                message: Failed to lock card
                code: 500

  /card/unlock_card:
    post:
      tags:
        - Card Service
      summary: Unlock card
      description: |
        Unlocks a previously locked card and allows transactions to resume.
        - Sandbox: Test cards, mock balances
        - Production: Real cards & transactions
      operationId: unlockCard
      parameters:
      - in: header
        name: X-Environment
        required: false
        schema:
          type: string
          enum: [sandbox, production]
        description: |
          Optional environment override.
          Defaults to production.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - cardId
                - userId
              properties:
                cardId:
                  type: string
                  format: uuid
                  description: Unique identifier of the card
                  example: "cee34fdd-51cc-49bd-b71a-d6bc0653bb34"
                userId:
                  type: string
                  format: uuid
                  example: "04610acd-01da-4d4d-982f-d12de7dac529"

      responses:
        "200":
          description: Card unlocked successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Card unlocked successfully"
                  code:
                    type: integer
                    example: 0

        "400":
          description: Invalid parameters or unsupported operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

        "500":
          description: External API or internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                message: Failed to unlock card
                code: 500

  /card/fetch_transactions:
      post:
        tags:
          - Card Service
        summary: Fetch transactions
        description: |
          Fetches paginated transactions for a user.
          - Sandbox: Test cards, mock balances
          - Production: Real cards & transactions
        operationId: fetchTransactions
        parameters:
        - in: header
          name: X-Environment
          required: false
          schema:
            type: string
            enum: [sandbox, production]
          description: |
            Optional environment override.
            Defaults to production.

        requestBody:
          required: true
          content:
            application/json:
              schema:
                type: object
                required:
                  - page
                  - limit
                  - userId
                properties:
                  userId:
                    type: string
                    format: uuid
                    example: "04610acd-01da-4d4d-982f-d12de7dac529"
                  page:
                    type: integer
                    minimum: 0
                    example: 1
                    description: Page number for pagination
                  limit:
                    type: integer
                    minimum: 1
                    maximum: 100
                    example: 10
                    description: Number of transactions per page

        responses:
          "200":
            description: Transactions fetched successfully
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    message:
                      type: string
                      example: "Transactions fetched successfully"
                    transactions:
                      type: array
                      items:
                        type: object
                        properties:
                          transactionId:
                            type: string
                            example: "txn_123456"
                          amount:
                            type: number
                            format: float
                            example: 120.75
                          currency:
                            type: string
                            example: "USD"
                          status:
                            type: string
                            example: "COMPLETED"
                          merchantName:
                            type: string
                            example: "Amazon"
                          transactionDate:
                            type: string
                            format: date-time
                            example: "2025-07-20T14:32:11.000Z"
                    code:
                      type: integer
                      example: 0

          "400":
            description: Invalid pagination parameters
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/ErrorResponse"

          "401":
            description: Unauthorized
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/ErrorResponse"

          "500":
            description: External API or internal server error
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/ErrorResponse"
                example:
                  message: Failed to fetch transactions
                  code: 500

  /card/fetch_deposit_address:
    post:
      summary: Fetch crypto deposit address
      description: Returns a deposit address for the given token and network for the user's account.
      tags:
        - Card Service
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [userId, token, network]
              properties:
                userId: { type: string, example: a8b70aa0-5b6f-481d-b9d2-2617b9e4f5b7 }
                token: { type: string, example: USDC }
                network: { type: string, example: BASE }
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  message: { type: string, example: Address fetched successfully }
                  code: { type: integer, example: 0 }
                  data:
                    type: object
                    properties:
                      address: { type: string, example: "0x6b4AE0...dE5b" }
        "401": { description: Unauthorized, content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
        "500": { description: External API or internal server error, content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }

  /card/issuance_events:
    post:
      summary: Fetch card issuance progress events
      description: |
        Returns the provisioning/issuance progress events for the user. Useful to drive a
        loading/status UI right after calling `issue_card`.
      tags:
        - Card Service
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [userId]
              properties:
                userId: { type: string, example: a8b70aa0-5b6f-481d-b9d2-2617b9e4f5b7 }
                applicationId: { type: string, description: Optional }
                since: { type: string, description: "Optional ISO timestamp; only events after it" }
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  message: { type: string, example: Issuance events fetched successfully }
                  code: { type: integer, example: 0 }
                  data:
                    type: object
                    properties:
                      events:
                        type: array
                        items:
                          type: object
                          properties:
                            phase: { type: string, example: cardholder_created }

x-webhooks:
  card.issued:
    post:
      summary: Card issued
      description: |
        Delivered to the client's registered `webhook_url` when a card is issued.

        **Headers**
        - `X-Pay3-Signature`: `hex(HMAC_SHA256(webhook_secret, rawBody))` — verify with your shared secret.
        - `X-Pay3-Event`: event type (e.g. `card.issued`).
        - `X-Pay3-Delivery`: delivery ID (use for idempotent handling of retries).

        **Retries**: non-2xx responses are retried with exponential backoff (30s, 60s, 120s … up to 1h).
        Respond `2xx` quickly and dedupe on `X-Pay3-Delivery`.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id: { type: string, description: Delivery ID (matches X-Pay3-Delivery) }
                type: { type: string, example: card.issued }
                created_at: { type: string, format: date-time }
                data: { type: object, description: Event-specific payload (the issued card) }
      responses:
        "200":
          description: Acknowledged (return any 2xx)

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: false
      description: |
        Unique key (UUID recommended) to make a mutating request safely retryable.
        The same key replays the first response; a request still in progress returns `409`.
      schema:
        type: string

  schemas:
    ErrorResponse:
      type: object
      properties:
        message:
          type: string
          example: Invalid request parameters
        code:
          type: integer
          example: 400
