openapi: 3.1.0

info:
  title: Pay3 External API
  version: "1.1.0"
  summary: Card issuance, KYC, and crypto-funding APIs for Pay3 partners.
  description: |
    The **Pay3 External API** lets partners embed Pay3's card-issuance, KYC, and
    crypto-funding infrastructure into their own product while keeping their own UI.

    ## Authentication

    Authentication is a two-step flow:

    1. **Get an access token** — call [`POST /oauth/access-token`](#tag/authentication/post/oauth/access-token)
       with your `clientId` and `clientSecret`. You receive a bearer `accessToken`.
    2. **Call the API** — send the token on every other request:

       ```
       Authorization: Bearer <accessToken>
       ```

    Tokens are short-lived (default **1 hour**). When a token expires the API returns
    `401 Token expired`; request a new one and retry. Treat `clientSecret` and access
    tokens as secrets — never expose them in a browser or mobile client.

    ## Idempotency

    Mutating endpoints that create resources (`POST /card/issue_card`, `POST /kyc/submit`)
    accept an optional **`Idempotency-Key`** header. Reusing the same key replays the
    original response instead of performing the action again, so a network retry can
    never double-issue a card. A request still in flight for the same key returns `409`.
    Use a fresh UUID per logical operation.

    ## Webhooks

    Pay3 delivers events (e.g. [`card.issued`](#tag/webhooks)) to the `webhook_url`
    registered for your client. Each delivery is signed with
    `X-Pay3-Signature: hex(HMAC_SHA256(webhook_secret, rawBody))`. Verify the signature,
    respond `2xx` quickly, and dedupe on `X-Pay3-Delivery`. Non-`2xx` responses are
    retried with exponential backoff.

    ## Environments

    The base URL below is **production**. Sandbox access (test cards, mock balances) is
    provisioned per partner with separate credentials — contact your Pay3 representative.

    ## Errors

    Errors share a single shape — `{ "message": string, "code": integer }` — and use
    conventional HTTP status codes (`400`, `401`, `409`, `500`).
  contact:
    name: Pay3 Partnerships
    url: https://pay-3.io

servers:
  - url: https://api.pay-3.io/functions/v1/external-service
    description: Production

security:
  - bearerAuth: []

tags:
  - name: Authentication
    description: Exchange client credentials for a short-lived bearer access token.
  - name: Users
    description: Register end users under your client and look them up.
  - name: KYC
    description: Drive the user's identity verification (powered by Sumsub).
  - name: Cards
    description: Card applications, issuance, management, transactions, and crypto funding.

paths:
  /oauth/access-token:
    post:
      tags:
        - Authentication
      summary: Generate access token
      operationId: generateAccessToken
      description: |
        Exchanges your `clientId` and `clientSecret` for a short-lived bearer access
        token used to authenticate every other endpoint.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - clientId
                - clientSecret
              properties:
                clientId:
                  type: string
                  description: Your Pay3 client identifier.
                  example: pay3_partner_acme
                clientSecret:
                  type: string
                  description: Your Pay3 client secret. Keep this server-side only.
                  example: cQ4n8Lp2Rx7Tw0cJ6Hb3Vk9Fm1Ds5Az
      responses:
        "200":
          description: Access token generated successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Oauth access token generated successfully
                  accessToken:
                    type: string
                    description: "Bearer token to send as `Authorization: Bearer <accessToken>`."
                    example: "eyJjbGllbnRfbmFtZSI6InBheTNfcGFydG5lcl9hY21lIiwidGltZXN0YW1wIjoxNzYyNDQ3NzAwMjE3fQ==.V9EIwBvkf3qZ2GdWQxBBKVsE4E="
        "400":
          $ref: "#/components/responses/InvalidCredentials"

  /users/register:
    post:
      tags:
        - Users
      summary: Register a user
      operationId: registerUser
      description: |
        Registers a new end user under your client. Returns the Pay3 `userId` you use
        for every subsequent call (KYC, card issuance, etc.).
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - first_name
                - signup_type_id
                - signup_type
              properties:
                first_name:
                  type: string
                  example: Alex
                last_name:
                  type: string
                  example: Rivera
                signup_type_id:
                  type: string
                  description: The user's unique identifier on your platform.
                  example: "835519111"
                signup_type:
                  type: string
                  description: The platform the user signed up from.
                  example: TELEGRAM
                email:
                  type: string
                  format: email
                  example: alex.rivera@example.com
                phone_number:
                  type: string
                  example: "+15555550123"
                telegram_id:
                  type: string
                  example: "835519111"
      responses:
        "200":
          description: User registered successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: User registered successfully
                  code:
                    type: integer
                    example: 0
                  data:
                    type: object
                    properties:
                      first_name:
                        type: string
                        example: Alex
                      last_name:
                        type: string
                        example: Rivera
                      userId:
                        type: string
                        format: uuid
                        example: a8b70aa0-5b6f-481d-b9d2-2617b9e4f5b7
                      card_issued:
                        type: boolean
                        example: false
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/ServerError"

  /users:
    get:
      tags:
        - Users
      summary: Get a user
      operationId: getUser
      description: Retrieves a user that belongs to your client.
      parameters:
        - name: id
          in: query
          required: true
          description: The Pay3 user ID (UUID).
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: User fetched successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: User fetched successfully
                  code:
                    type: integer
                    example: 0
                  data:
                    $ref: "#/components/schemas/User"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /kyc/access-token:
    post:
      tags:
        - KYC
      summary: Generate KYC access token
      operationId: generateKycAccessToken
      description: |
        Generates a short-lived Sumsub access token used to launch the KYC flow
        (e.g. with the Sumsub WebSDK) for the given user.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - userId
              properties:
                userId:
                  type: string
                  format: uuid
                  description: The user starting KYC.
                  example: a8b70aa0-5b6f-481d-b9d2-2617b9e4f5b7
      responses:
        "200":
          description: KYC access token generated successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: KYC Access token generated successfully
                  code:
                    type: integer
                    example: 0
                  data:
                    type: object
                    properties:
                      accessToken:
                        type: string
                        description: Sumsub access token for the WebSDK / mobile SDK.
                        example: "_act-jwt-eyJhbGciOiJub25lIn0.eyJqdGkiOiJfYWN0LWV4YW1wbGUiLCJ1cmwiOiJodHRwczovL2FwaS5zdW1zdWIuY29tIn0.-v2"
                      userId:
                        type: string
                        format: uuid
                        example: a8b70aa0-5b6f-481d-b9d2-2617b9e4f5b7
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /kyc/submit:
    post:
      tags:
        - KYC
      summary: Submit KYC for verification
      operationId: submitKyc
      description: |
        Submits the user's completed Sumsub applicant for verification and provisions
        their downstream card account. Idempotent via the `Idempotency-Key` header.
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - userId
                - applicantId
              properties:
                userId:
                  type: string
                  format: uuid
                  example: a8b70aa0-5b6f-481d-b9d2-2617b9e4f5b7
                applicantId:
                  type: string
                  description: The Sumsub applicant ID for the user.
                  example: 65f3c1a2b4d5e6f7a8b9c0d1
      responses:
        "200":
          description: KYC submitted successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: KYC submitted successfully
                  code:
                    type: integer
                    example: 0
                  data:
                    type: object
                    properties:
                      applicantId:
                        type: string
                        example: 65f3c1a2b4d5e6f7a8b9c0d1
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/IdempotencyConflict"
        "500":
          $ref: "#/components/responses/ServerError"

  /card/application/start:
    post:
      tags:
        - Cards
      summary: Start a card application
      operationId: startCardApplication
      description: |
        Starts (or returns the in-progress) card application for the user. This call is
        idempotent — if an application already exists it is returned unchanged.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - userId
              properties:
                userId:
                  type: string
                  format: uuid
                  example: a8b70aa0-5b6f-481d-b9d2-2617b9e4f5b7
      responses:
        "200":
          description: Card application started successfully or already exists.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Card application started successfully
                  code:
                    type: integer
                    example: 0
                  data:
                    type: object
                    properties:
                      application:
                        $ref: "#/components/schemas/CardApplication"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/ServerError"

  /card/application:
    post:
      tags:
        - Cards
      summary: Fetch the card application
      operationId: fetchCardApplication
      description: Retrieves the current card application for the user.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - userId
              properties:
                userId:
                  type: string
                  format: uuid
                  example: a8b70aa0-5b6f-481d-b9d2-2617b9e4f5b7
      responses:
        "200":
          description: Card application fetched successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Card application fetched successfully
                  code:
                    type: integer
                    example: 0
                  data:
                    type: object
                    properties:
                      application:
                        $ref: "#/components/schemas/CardApplication"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/ServerError"

  /card/issue_card:
    post:
      tags:
        - Cards
      summary: Issue a card
      operationId: issueCard
      description: |
        Issues a new card for the user. On success a [`card.issued`](#tag/webhooks)
        webhook is delivered to your registered `webhook_url`.

        Pass an `Idempotency-Key` to safely retry without double-issuing.
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - userId
                - type
              properties:
                userId:
                  type: string
                  format: uuid
                  example: a8b70aa0-5b6f-481d-b9d2-2617b9e4f5b7
                type:
                  type: string
                  description: Type of card to issue.
                  enum:
                    - virtual
                    - physical
                  example: virtual
                amount:
                  type: number
                  description: |
                    Optional balance (in USD) to load onto the card at issuance.
                    Defaults to `0`, in which case the issuance fee is covered by your
                    master account and no extra balance is preloaded. This is a funding
                    amount, not the card price.
                  default: 0
                  example: 0
      responses:
        "200":
          description: Card issued successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Card issued successfully
                  code:
                    type: integer
                    example: 0
                  data:
                    $ref: "#/components/schemas/Card"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/IdempotencyConflict"
        "500":
          $ref: "#/components/responses/ServerError"

  /card/fetch_cards:
    post:
      tags:
        - Cards
      summary: List the user's cards
      operationId: fetchCards
      description: Returns all cards associated with the user.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - userId
              properties:
                userId:
                  type: string
                  format: uuid
                  example: a8b70aa0-5b6f-481d-b9d2-2617b9e4f5b7
      responses:
        "200":
          description: Cards fetched successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Cards fetched successfully
                  code:
                    type: integer
                    example: 0
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Card"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /card/fetch_card_details:
    post:
      tags:
        - Cards
      summary: Fetch full card details
      operationId: fetchCardDetails
      description: |
        Returns sensitive card details (full PAN, CVV, and expiry) for a single card.
        Only surface these values over a secure channel, and never log them.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - userId
                - cardId
              properties:
                userId:
                  type: string
                  format: uuid
                  example: a8b70aa0-5b6f-481d-b9d2-2617b9e4f5b7
                cardId:
                  type: string
                  format: uuid
                  example: cee34fdd-51cc-49bd-b71a-d6bc0653bb34
      responses:
        "200":
          description: Card details fetched successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Card details fetched successfully
                  code:
                    type: integer
                    example: 0
                  data:
                    type: object
                    properties:
                      cardNo:
                        type: string
                        description: Full card number (PAN).
                        example: "5371000000002362"
                      cvv:
                        type: string
                        example: "380"
                      expMonth:
                        type: string
                        example: "07"
                      expYear:
                        type: string
                        example: "2028"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /card/fetch_deposit_address:
    post:
      tags:
        - Cards
      summary: Fetch a crypto deposit address
      operationId: fetchDepositAddress
      description: |
        Returns the deposit address for funding the user's card balance with the given
        token on the given network. Funds sent to this address are credited to the
        user's account.

        Supported networks depend on the token (and your partner configuration):
          - **USDT**: TRX, TON, AVAX, ETH, SOL, BNB
          - **USDC**: OP, MATIC

        Contact Pay3 to confirm the current token/network matrix for your account.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - userId
                - token
                - network
              properties:
                userId:
                  type: string
                  format: uuid
                  example: a8b70aa0-5b6f-481d-b9d2-2617b9e4f5b7
                token:
                  type: string
                  enum: [USDT, USDC]
                  example: USDT
                network:
                  type: string
                  enum: [TRX, TON, AVAX, ETH, SOL, BNB, OP, MATIC]
                  example: TRX
      responses:
        "200":
          description: Address fetched successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Address fetched successfully
                  code:
                    type: integer
                    example: 0
                  data:
                    type: object
                    properties:
                      address:
                        type: string
                        description: Deposit address for the requested token/network.
                        example: TYDzsbVxNkE9oF7g2pQ3rWm5n8kLpJ4hQs
        "400":
          description: Invalid parameters or unsupported token/network combination.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/ServerError"

  /card/set_card_pin:
    post:
      tags:
        - Cards
      summary: Set the card PIN
      operationId: setCardPin
      description: |
        Sets or updates the ATM PIN for a card, activating the card if it is not yet
        active. Physical cards only.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - userId
                - cardId
                - pin
              properties:
                userId:
                  type: string
                  format: uuid
                  example: a8b70aa0-5b6f-481d-b9d2-2617b9e4f5b7
                cardId:
                  type: string
                  format: uuid
                  example: cee34fdd-51cc-49bd-b71a-d6bc0653bb34
                pin:
                  type: string
                  description: 6-digit ATM PIN.
                  minLength: 6
                  maxLength: 6
                  example: "123456"
      responses:
        "200":
          description: Card PIN set successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SimpleSuccess"
              example:
                message: Card pin set successfully
                code: 0
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/ServerError"

  /card/lock_card:
    post:
      tags:
        - Cards
      summary: Lock a card
      operationId: lockCard
      description: Locks a card to block further transactions.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - userId
                - cardId
              properties:
                userId:
                  type: string
                  format: uuid
                  example: a8b70aa0-5b6f-481d-b9d2-2617b9e4f5b7
                cardId:
                  type: string
                  format: uuid
                  example: cee34fdd-51cc-49bd-b71a-d6bc0653bb34
      responses:
        "200":
          description: Card locked successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SimpleSuccess"
              example:
                message: Card locked successfully
                code: 0
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/ServerError"

  /card/unlock_card:
    post:
      tags:
        - Cards
      summary: Unlock a card
      operationId: unlockCard
      description: Unlocks a previously locked card so transactions can resume.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - userId
                - cardId
              properties:
                userId:
                  type: string
                  format: uuid
                  example: a8b70aa0-5b6f-481d-b9d2-2617b9e4f5b7
                cardId:
                  type: string
                  format: uuid
                  example: cee34fdd-51cc-49bd-b71a-d6bc0653bb34
      responses:
        "200":
          description: Card unlocked successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SimpleSuccess"
              example:
                message: Card unlocked successfully
                code: 0
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/ServerError"

  /card/fetch_transactions:
    post:
      tags:
        - Cards
      summary: List card transactions
      operationId: fetchTransactions
      description: Returns the user's card transactions, paginated.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - userId
                - page
                - limit
              properties:
                userId:
                  type: string
                  format: uuid
                  example: a8b70aa0-5b6f-481d-b9d2-2617b9e4f5b7
                page:
                  type: integer
                  minimum: 1
                  description: Page number (1-based).
                  example: 1
                limit:
                  type: integer
                  minimum: 1
                  maximum: 100
                  description: Number of transactions per page.
                  example: 10
      responses:
        "200":
          description: Transactions fetched successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Transactions fetched successfully
                  code:
                    type: integer
                    example: 0
                  transactions:
                    type: array
                    items:
                      $ref: "#/components/schemas/Transaction"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/ServerError"

  /card/issuance_events:
    post:
      tags:
        - Cards
      summary: Fetch card issuance progress events
      operationId: fetchIssuanceEvents
      description: |
        Returns the provisioning/issuance progress events for the user, in order. Poll
        this right after `issue_card` to drive a loading/status UI. The terminal phases
        are `done` (success) and `failed`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - userId
              properties:
                userId:
                  type: string
                  format: uuid
                  example: a8b70aa0-5b6f-481d-b9d2-2617b9e4f5b7
                applicationId:
                  type: string
                  format: uuid
                  description: Optional — only events for this card application.
                  example: 94655d78-71a8-43a5-9654-7c5996ee51c3
                since:
                  type: string
                  format: date-time
                  description: Optional — only events created after this ISO 8601 timestamp.
                  example: "2025-11-08T12:55:54.644Z"
      responses:
        "200":
          description: Issuance events fetched successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Issuance events fetched successfully
                  code:
                    type: integer
                    example: 0
                  data:
                    type: object
                    properties:
                      events:
                        type: array
                        items:
                          $ref: "#/components/schemas/IssuanceEvent"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/ServerError"

webhooks:
  card.issued:
    post:
      tags:
        - Webhooks
      summary: card.issued
      operationId: cardIssuedWebhook
      description: |
        Delivered to your registered `webhook_url` when a card is issued.

        **Headers**
        - `X-Pay3-Signature`: `hex(HMAC_SHA256(webhook_secret, rawBody))` — verify with your shared secret.
        - `X-Pay3-Event`: the event type (e.g. `card.issued`).
        - `X-Pay3-Delivery`: delivery ID — use it to dedupe retries.

        **Retries**: non-`2xx` responses are retried with exponential backoff
        (30s, 60s, 120s … up to 1h, max 6 attempts). Respond `2xx` quickly and dedupe
        on `X-Pay3-Delivery`.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Delivery ID (matches the `X-Pay3-Delivery` header).
                  example: 7c5996ee-51c3-43a5-9654-94655d7871a8
                type:
                  type: string
                  example: card.issued
                created_at:
                  type: string
                  format: date-time
                  example: "2025-11-08T12:56:10.120Z"
                data:
                  type: object
                  description: Event-specific payload.
                  properties:
                    userId:
                      type: string
                      format: uuid
                      example: a8b70aa0-5b6f-481d-b9d2-2617b9e4f5b7
                    type:
                      type: string
                      example: virtual
                    card:
                      $ref: "#/components/schemas/Card"
      responses:
        "200":
          description: Acknowledged. Return any `2xx` to confirm receipt.

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        Bearer access token obtained from `POST /oauth/access-token`.
        Send as `Authorization: Bearer <accessToken>`.

  parameters:
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: false
      description: |
        Unique key (UUID recommended) that makes a mutating request safely retryable.
        Reusing the same key replays the first response; a request still in progress
        returns `409`.
      schema:
        type: string

  responses:
    BadRequest:
      description: Invalid request.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            message: Invalid request
            code: 400
    Unauthorized:
      description: Missing, invalid, or expired access token.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            message: Unauthorized
            code: 401
    InvalidCredentials:
      description: Invalid client credentials.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            message: Invalid client secret
            code: 400
    IdempotencyConflict:
      description: A request with the same `Idempotency-Key` is still in progress.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            message: Request with this Idempotency-Key is already in progress
            code: 409
    ServerError:
      description: Upstream or internal server error.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            message: Internal server error
            code: 500

  schemas:
    ErrorResponse:
      type: object
      properties:
        message:
          type: string
          example: Invalid request
        code:
          type: integer
          example: 400

    SimpleSuccess:
      type: object
      properties:
        message:
          type: string
          example: Success
        code:
          type: integer
          example: 0

    CardAddress:
      type: object
      properties:
        addressLine1:
          type: string
          example: 123 Example Street
        addressLine2:
          type: string
          example: Suite 100
        city:
          type: string
          example: San Francisco
        state:
          type: string
          example: CA
        country:
          type: string
          description: ISO 3166-1 alpha-2 country code.
          example: US
        postalCode:
          type: string
          example: "94105"

    Card:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: cee34fdd-51cc-49bd-b71a-d6bc0653bb34
        accountId:
          type: string
          format: uuid
          example: bf9866ad-46e1-43ff-8b21-68a57c67acfc
        token:
          type: string
          description: Provider card token.
          example: cproxy0000000000000
        status:
          type: string
          example: Active
        currency:
          type: string
          example: USD
        userName:
          type: string
          example: Alex Rivera
        createTime:
          type: string
          format: date-time
          example: "2025-07-17T04:44:16.964Z"
        cardNoLastFour:
          type: string
          example: "2362"
        cardAddress:
          $ref: "#/components/schemas/CardAddress"
        label:
          type: string
          example: Alex Rivera's card
        useType:
          type: string
          example: online
        balanceId:
          type: string
          format: uuid
          example: f1f70e3a-ce61-4df2-92cc-83ce9666df7d
        budgetId:
          type: string
          format: uuid
          example: 950661d3-94c6-42d1-bd70-ba4986a1581d
        bin:
          type: string
          example: "537100"

    CardApplication:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: 94655d78-71a8-43a5-9654-7c5996ee51c3
        created_at:
          type: string
          format: date-time
          example: "2025-11-08T12:55:54.644Z"
        user_id:
          type: string
          format: uuid
          example: a8b70aa0-5b6f-481d-b9d2-2617b9e4f5b7
        whitelisted:
          type: boolean
          example: false
        code_redeemed:
          type: [string, "null"]
          example: null
        phone_verified:
          type: boolean
          example: false
        email_verified:
          type: boolean
          example: false
        kyc_verified:
          type: boolean
          example: false
        personal_data:
          type: [object, "null"]
          example: null
        billing_data:
          type: [object, "null"]
          example: null
        order_data:
          type: [object, "null"]
          example: null
        card_issued:
          type: boolean
          example: false
        card_issued_on:
          type: [string, "null"]
          format: date-time
          example: null
        card_id:
          type: [string, "null"]
          format: uuid
          example: null
        budget_id:
          type: [string, "null"]
          format: uuid
          example: null
        kyc_status:
          type: [string, "null"]
          example: null

    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: a8b70aa0-5b6f-481d-b9d2-2617b9e4f5b7
        first_name:
          type: string
          example: Alex
        last_name:
          type: string
          example: Rivera
        email:
          type: [string, "null"]
          example: alex.rivera@example.com
        phone_number:
          type: [string, "null"]
          example: null
        telegram_id:
          type: [string, "null"]
          example: "835519111"
        client_id:
          type: string
          format: uuid
          example: 1df64a72-72be-4522-a0ed-62a7a608e6d3
        created_at:
          type: string
          format: date-time
          example: "2025-11-06T11:24:28.575Z"
        updated_at:
          type: [string, "null"]
          format: date-time
          example: null
        signup_type_id:
          type: string
          example: "835519111"
        signup_type:
          type: string
          example: TELEGRAM
        card_issued:
          type: boolean
          example: false
        wallet_id:
          type: [string, "null"]
          format: uuid
          example: null
        account_id:
          type: [string, "null"]
          format: uuid
          example: null
        budget_id:
          type: [string, "null"]
          format: uuid
          example: null
        sumsub_id:
          type: [string, "null"]
          example: null
        kyc_verified:
          type: [boolean, "null"]
          example: null
        cardholder_id:
          type: [string, "null"]
          format: uuid
          example: null

    IssuanceEvent:
      type: object
      properties:
        phase:
          type: string
          description: |
            Current provisioning phase. `done` and `failed` are terminal.
          enum:
            - validating
            - provider_call
            - db_committed
            - card_fetched
            - funds_settled
            - shipping_requested
            - done
            - failed
          example: provider_call
        meta:
          type: object
          description: Phase-specific metadata (e.g. card type, reason on failure).
          example:
            type: virtual
        application_id:
          type: [string, "null"]
          format: uuid
          example: 94655d78-71a8-43a5-9654-7c5996ee51c3
        created_at:
          type: string
          format: date-time
          example: "2025-11-08T12:56:01.200Z"

    Transaction:
      type: object
      properties:
        transactionId:
          type: string
          example: txn_123456
        amount:
          type: number
          format: float
          example: 120.75
        currency:
          type: string
          example: USD
        status:
          type: string
          example: COMPLETED
        merchantName:
          type: string
          example: Amazon
        transactionDate:
          type: string
          format: date-time
          example: "2025-07-20T14:32:11.000Z"
